.twoCol, .fourCol, .sixCol .eightCol {
  margin-right: 17px;
  float: left;
}

.twoCol {
  width: 143px;
}

.fourCol {
  width: 303px;
}

.sixCol {
  width: 463px;
}

.eightCol {
  width: 943;
}

/* HTML Element Styles */

body {
  background-color: black;
  color: white;
  margin-top: 17px;
  margin-left: 17px;
  font-family:"Helvetica";
  font-size: 10pt;
}

a:link { 
	color: #ff0000;
	}
a:visited { 
	color: #ff0000;
	}


/* Page Element Styles */

#wrapper {
  background-color: black;
  width: 960px;
  margin: 0 auto;
}

#masthead {
  float: left;
  width: 960px;
}
#masthead a{
    color: inherit;
    text-decoration: none;
}
#masthead a img {
    color: black;
}

span#bannertext{
    font-size: 48px;
    vertical-align: middle;
}

#buffer {
  float: left;
  width: 960px;
  height: 3px;
  background-color: #0067ac;
}

#contentArea {
  float: left;
  margin-top: 20px;
  width: 640px;
  height: 500px;
  background-color: #000010;
}

#sidebar {
  float: left;
  width: 320px;
  height: 500px;
  background-image: url("/ngt/static/images/ngt_sidebar.jpg");
}

#footer {
  float: left;
  width: 960px;
  margin-top: 17px;
  font-size: 9pt;
  vertical-align: bottom;
}

/*** Nav Bar ***/
#navbar,
#navbar ul{
/*Remove all spacings from the list items*/
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
}

#navbar{
    display: inline;
}
#navbar>li{
	display: table-cell;
	position: relative;
	padding: 2px 6px;
}


table.centered td{
    text-align: center;
}
